<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <h1>ERROR</h1>
  <h2><%= error.message %></h2>
  <pre><%= error.stack %></pre>

</body>
</html>
