<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vinyl Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <% include header %>
    	</div>
    	<div class="row">
    		<div class="col-sm-6">
    			<div class="well">
    					<p>
                This is where user info will go!
    					</p>
    			</div>
    		</div>

    	</div>

    </div>
  </body>
</html>
